html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: Lato-Regular;
  src: url("../fonts/Lato-Regular.woff"), url("../fonts/Lato-Regular.woff2"); }

@font-face {
  font-family: 'Amtt-icons';
  src: url("../fonts/amtt-icons.woff"), url("../fonts/amtt-icons-webfont.woff2"); }

@font-face {
  font-family: 'Font-icons';
  src: url("../fonts/fontawesome-webfont.woff"); }

body {
  color: #3a4051;
  background: #fff;
  font-size: 16px;
  line-height: 24px;
  font-family: "Lato-Regular";
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  body::after {
    clear: both;
    content: "";
    display: table; }

ul, ol, p {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  outline: none; }

.container {
  padding-right: 85px; }
  @media (max-width: 768px) {
    .container {
      padding-right: 50px; } }
  @media (max-width: 320px) {
    .container {
      padding-right: 0; } }

.link {
  color: #ff7919; }
  .link:hover {
    color: #006bb3; }

.title {
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  margin: 50px 0 30px 40px; }
  @media (max-width: 768px) {
    .title {
      margin: 50px 0 30px 30px; } }
  @media (max-width: 320px) {
    .title {
      margin: 30px 0 30px 20px; } }
  .title:before {
    width: 25px;
    border-bottom: 2px solid #ff7919;
    display: block;
    content: '';
    position: relative;
    top: 18px;
    left: -40px; }
    @media (max-width: 768px) {
      .title:before {
        width: 15px;
        top: 18px;
        left: -30px; } }
    @media (max-width: 320px) {
      .title:before {
        top: 18px;
        width: 10px;
        left: -20px; } }

#header {
  height: 100vh; }
  #header .top-holder {
    padding: 10px 0 10px 0; }
    #header .top-holder::after {
      clear: both;
      content: "";
      display: table; }
    #header .top-holder .logo {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      padding: 0 0 0 30px; }
      #header .top-holder .logo:last-child {
        margin-right: 0; }
      @media screen and (max-width: 768px) {
        #header .top-holder .logo {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          padding: 0 0 0 20px; }
          #header .top-holder .logo:last-child {
            margin-right: 0; } }
      @media screen and (max-width: 480px) {
        #header .top-holder .logo {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 31.76157%;
          margin-right: 0;
          padding: 5px 0 0 20px; }
          #header .top-holder .logo:last-child {
            margin-right: 0; } }
      #header .top-holder .logo a {
        display: block;
        width: 150px;
        height: 50px; }
        @media screen and (max-width: 480px) {
          #header .top-holder .logo a {
            width: 90px;
            height: 30px;
            background-size: cover; } }
    #header .top-holder .company {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      text-align: center;
      margin-right: 0; }
      #header .top-holder .company:last-child {
        margin-right: 0; }
      @media screen and (max-width: 768px) {
        #header .top-holder .company {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          margin-right: 0; }
          #header .top-holder .company:last-child {
            margin-right: 0; } }
      @media screen and (max-width: 480px) {
        #header .top-holder .company {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 65.88078%;
          margin-right: 0;
          text-align: right;
          padding-right: 10px; }
          #header .top-holder .company:last-child {
            margin-right: 0; } }
      #header .top-holder .company .dropdown-container {
        width: 245px;
        height: 50px;
        border: 1px solid #ff7919;
        display: inline-block;
        border-radius: 5px;
        text-align: left; }
        @media screen and (max-width: 768px) {
          #header .top-holder .company .dropdown-container {
            width: 200px; } }
        @media screen and (max-width: 480px) {
          #header .top-holder .company .dropdown-container {
            width: 180px;
            height: 40px; } }
        #header .top-holder .company .dropdown-container .dropdown-button {
          cursor: pointer; }
          @media screen and (max-width: 480px) {
            #header .top-holder .company .dropdown-container .dropdown-button {
              width: 180px;
              height: 40px; } }
          #header .top-holder .company .dropdown-container .dropdown-button .grup-icon {
            width: 27px;
            height: 27px;
            margin: 0 0 0 20px;
            position: relative;
            top: 8px; }
            #header .top-holder .company .dropdown-container .dropdown-button .grup-icon path, #header .top-holder .company .dropdown-container .dropdown-button .grup-icon line, #header .top-holder .company .dropdown-container .dropdown-button .grup-icon rect, #header .top-holder .company .dropdown-container .dropdown-button .grup-icon polygon, #header .top-holder .company .dropdown-container .dropdown-button .grup-icon polyline, #header .top-holder .company .dropdown-container .dropdown-button .grup-icon circle, #header .top-holder .company .dropdown-container .dropdown-button .grup-icon g {
              stroke: #ff7919;
              fill: #ff7919; }
            @media screen and (max-width: 768px) {
              #header .top-holder .company .dropdown-container .dropdown-button .grup-icon {
                margin: 0 0 0 10px; } }
            @media screen and (max-width: 480px) {
              #header .top-holder .company .dropdown-container .dropdown-button .grup-icon {
                margin: 0 0 0 5px;
                width: 20px;
                height: 20px;
                top: 5px; } }
          #header .top-holder .company .dropdown-container .dropdown-button .btn-text {
            color: #ff7919;
            font-size: 18px;
            line-height: 50px;
            font-weight: bold; }
            @media screen and (max-width: 768px) {
              #header .top-holder .company .dropdown-container .dropdown-button .btn-text {
                font-size: 14px;
                line-height: 50px; } }
            @media screen and (max-width: 480px) {
              #header .top-holder .company .dropdown-container .dropdown-button .btn-text {
                font-size: 14px;
                line-height: 40px; } }
          #header .top-holder .company .dropdown-container .dropdown-button .drop-icon {
            width: 27px;
            height: 27px;
            display: inline-block;
            position: relative;
            top: 8px;
            -webkit-transform: rotate(-180deg);
            -moz-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
            -o-transform: rotate(-180deg);
            transform: rotate(-180deg);
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out; }
            @media screen and (max-width: 480px) {
              #header .top-holder .company .dropdown-container .dropdown-button .drop-icon {
                width: 25px;
                height: 25px;
                top: 8px; } }
            #header .top-holder .company .dropdown-container .dropdown-button .drop-icon svg {
              width: 27px;
              height: 27px; }
              @media screen and (max-width: 480px) {
                #header .top-holder .company .dropdown-container .dropdown-button .drop-icon svg {
                  width: 25px;
                  height: 25px;
                  top: 8px; } }
              #header .top-holder .company .dropdown-container .dropdown-button .drop-icon svg path, #header .top-holder .company .dropdown-container .dropdown-button .drop-icon svg line, #header .top-holder .company .dropdown-container .dropdown-button .drop-icon svg rect, #header .top-holder .company .dropdown-container .dropdown-button .drop-icon svg polygon, #header .top-holder .company .dropdown-container .dropdown-button .drop-icon svg polyline, #header .top-holder .company .dropdown-container .dropdown-button .drop-icon svg circle, #header .top-holder .company .dropdown-container .dropdown-button .drop-icon svg g {
                stroke: #ff7919; }
          #header .top-holder .company .dropdown-container .dropdown-button .rotate {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out; }
    #header .top-holder .phone {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-right: 0;
      text-align: right;
      float: right; }
      #header .top-holder .phone:last-child {
        margin-right: 0; }
      #header .top-holder .phone::after {
        clear: both;
        content: "";
        display: table; }
      @media screen and (max-width: 768px) {
        #header .top-holder .phone {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%; }
          #header .top-holder .phone:last-child {
            margin-right: 0; } }
      #header .top-holder .phone .dropdown-container {
        position: relative;
        text-align: center; }
        #header .top-holder .phone .dropdown-container .dropdown-button {
          cursor: pointer;
          color: #000;
          font-size: 16px;
          line-height: 27px;
          padding: 12px 45px 12px 0;
          position: relative;
          text-align: right; }
          @media screen and (max-width: 1200px) {
            #header .top-holder .phone .dropdown-container .dropdown-button {
              padding: 0 45px 0 0; } }
          @media screen and (max-width: 768px) {
            #header .top-holder .phone .dropdown-container .dropdown-button {
              padding: 12px 7px 12px 0;
              text-align: left; } }
          #header .top-holder .phone .dropdown-container .dropdown-button .phone-item {
            padding-left: 20px; }
            @media screen and (max-width: 1200px) {
              #header .top-holder .phone .dropdown-container .dropdown-button .phone-item {
                float: left;
                display: block;
                margin-right: 7.42297%;
                width: 100%; }
                #header .top-holder .phone .dropdown-container .dropdown-button .phone-item:last-child {
                  margin-right: 0; } }
            @media screen and (max-width: 768px) {
              #header .top-holder .phone .dropdown-container .dropdown-button .phone-item {
                float: left;
                display: block;
                margin-right: 7.42297%;
                width: 46.28851%;
                margin-right: 0; }
                #header .top-holder .phone .dropdown-container .dropdown-button .phone-item:last-child {
                  margin-right: 0; } }
            #header .top-holder .phone .dropdown-container .dropdown-button .phone-item .bold {
              font-size: 18px;
              font-weight: bold; }
              @media screen and (max-width: 480px) {
                #header .top-holder .phone .dropdown-container .dropdown-button .phone-item .bold {
                  font-size: 16px; } }
          @media screen and (max-width: 480px) {
            #header .top-holder .phone .dropdown-container .dropdown-button .phone-item:last-child {
              padding-left: 10px; } }
      #header .top-holder .phone .dropdown-button:after {
        position: absolute;
        width: 14px;
        height: 8px;
        display: block;
        content: '';
        right: 20px;
        top: 22px;
        background: url(../img/icon-4.png) no-repeat; }
      #header .top-holder .phone .dropdown-menu {
        width: 100%;
        min-height: 100px;
        background: #fff;
        border-bottom: 1px solid #ced0d9;
        border-left: 1px solid #ced0d9;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        display: none;
        position: absolute;
        top: 65px;
        z-index: 99999;
        padding: 4px 15px 25px 0;
        text-align: right; }
        @media (max-width: 768px) {
          #header .top-holder .phone .dropdown-menu {
            top: 48px;
            padding-left: 20px; } }
        #header .top-holder .phone .dropdown-menu p {
          font-size: 16px;
          line-height: 32px; }
        #header .top-holder .phone .dropdown-menu .link {
          margin-top: 15px;
          display: block; }
      #header .top-holder .phone .show-menu {
        display: block; }
    #header .top-holder .pop-up {
      width: 100%;
      background: #fff;
      -webkit-transition: all 0.8s ease-in-out;
      -moz-transition: all 0.8s ease-in-out;
      transition: all 0.8s ease-in-out;
      cursor: pointer;
      height: 0;
      position: absolute;
      text-align: left;
      top: 70px;
      z-index: 99999;
      margin: 0;
      padding: 0; }
      @media (max-width: 768px) {
        #header .top-holder .pop-up {
          top: 0; } }
      #header .top-holder .pop-up .item-company {
        position: relative;
        width: 33.33%;
        float: left;
        opacity: 0;
        text-align: center;
        -webkit-transform: translate(-2000px, 0);
        -moz-transform: translate(-2000px, 0);
        -ms-transform: translate(-2000px, 0);
        -o-transform: translate(-2000px, 0);
        transform: translate(-2000px, 0);
        border-top: 1px solid #ced0d9;
        border-right: 1px solid #ced0d9;
        border-bottom: 12px solid #ced0d9; }
        #header .top-holder .pop-up .item-company::after {
          clear: both;
          content: "";
          display: table; }
        @media (max-width: 768px) {
          #header .top-holder .pop-up .item-company {
            width: 100%;
            border-bottom: 2px solid; } }
        #header .top-holder .pop-up .item-company:before {
          position: absolute;
          top: 40px;
          left: 40px;
          display: block;
          width: 25px;
          height: 25px;
          content: '';
          background: url(../img/icons/corner.svg) no-repeat;
          opacity: 0; }
          @media (max-width: 768px) {
            #header .top-holder .pop-up .item-company:before {
              width: 12px;
              height: 12px; } }
        #header .top-holder .pop-up .item-company:after {
          position: absolute;
          top: 40px;
          right: 40px;
          display: block;
          width: 25px;
          height: 25px;
          content: '';
          background: url(../img/icons/corner.svg) no-repeat;
          opacity: 0;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg); }
          @media (max-width: 768px) {
            #header .top-holder .pop-up .item-company:after {
              width: 12px;
              height: 12px; } }
        #header .top-holder .pop-up .item-company a {
          padding: 50px 0 65px;
          display: block;
          width: 100%;
          height: 100%;
          position: relative; }
          @media (max-width: 768px) {
            #header .top-holder .pop-up .item-company a {
              padding: 18px 0 18px 20px;
              height: 55px; } }
          #header .top-holder .pop-up .item-company a:before {
            position: absolute;
            bottom: 40px;
            left: 40px;
            display: block;
            width: 25px;
            height: 25px;
            content: '';
            background: url(../img/icons/corner.svg) no-repeat;
            opacity: 0;
            -webkit-transform: rotate(270deg);
            -moz-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
            -o-transform: rotate(270deg);
            transform: rotate(270deg); }
            @media (max-width: 768px) {
              #header .top-holder .pop-up .item-company a:before {
                width: 12px;
                height: 12px; } }
          #header .top-holder .pop-up .item-company a:after {
            position: absolute;
            bottom: 40px;
            right: 40px;
            display: block;
            width: 25px;
            height: 25px;
            content: '';
            background: url(../img/icons/corner.svg) no-repeat;
            opacity: 0;
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg); }
            @media (max-width: 768px) {
              #header .top-holder .pop-up .item-company a:after {
                width: 12px;
                height: 12px; } }
        #header .top-holder .pop-up .item-company:hover:before {
          -webkit-transform: translate(-30px, -30px);
          -moz-transform: translate(-30px, -30px);
          -ms-transform: translate(-30px, -30px);
          -o-transform: translate(-30px, -30px);
          transform: translate(-30px, -30px);
          opacity: 1;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }
          @media (max-width: 768px) {
            #header .top-holder .pop-up .item-company:hover:before {
              -webkit-transform: translate(-35px, -35px);
              -moz-transform: translate(-35px, -35px);
              -ms-transform: translate(-35px, -35px);
              -o-transform: translate(-35px, -35px);
              transform: translate(-35px, -35px); } }
        #header .top-holder .pop-up .item-company:hover:after {
          -webkit-transform: rotate(90deg) translate(-30px, -30px);
          -moz-transform: rotate(90deg) translate(-30px, -30px);
          -ms-transform: rotate(90deg) translate(-30px, -30px);
          -o-transform: rotate(90deg) translate(-30px, -30px);
          transform: rotate(90deg) translate(-30px, -30px);
          opacity: 1;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }
          @media (max-width: 768px) {
            #header .top-holder .pop-up .item-company:hover:after {
              -webkit-transform: rotate(90deg) translate(-35px, -30px);
              -moz-transform: rotate(90deg) translate(-35px, -30px);
              -ms-transform: rotate(90deg) translate(-35px, -30px);
              -o-transform: rotate(90deg) translate(-35px, -30px);
              transform: rotate(90deg) translate(-35px, -30px); } }
        #header .top-holder .pop-up .item-company:hover a:before {
          -webkit-transform: rotate(270deg) translate(-30px, -30px);
          -moz-transform: rotate(270deg) translate(-30px, -30px);
          -ms-transform: rotate(270deg) translate(-30px, -30px);
          -o-transform: rotate(270deg) translate(-30px, -30px);
          transform: rotate(270deg) translate(-30px, -30px);
          opacity: 1;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }
          @media (max-width: 768px) {
            #header .top-holder .pop-up .item-company:hover a:before {
              -webkit-transform: rotate(270deg) translate(-35px, -35px);
              -moz-transform: rotate(270deg) translate(-35px, -35px);
              -ms-transform: rotate(270deg) translate(-35px, -35px);
              -o-transform: rotate(270deg) translate(-35px, -35px);
              transform: rotate(270deg) translate(-35px, -35px); } }
        #header .top-holder .pop-up .item-company:hover a:after {
          -webkit-transform: rotate(180deg) translate(-30px, -30px);
          -moz-transform: rotate(180deg) translate(-30px, -30px);
          -ms-transform: rotate(180deg) translate(-30px, -30px);
          -o-transform: rotate(180deg) translate(-30px, -30px);
          transform: rotate(180deg) translate(-30px, -30px);
          opacity: 1;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }
          @media (max-width: 768px) {
            #header .top-holder .pop-up .item-company:hover a:after {
              -webkit-transform: rotate(180deg) translate(-30px, -35px);
              -moz-transform: rotate(180deg) translate(-30px, -35px);
              -ms-transform: rotate(180deg) translate(-30px, -35px);
              -o-transform: rotate(180deg) translate(-30px, -35px);
              transform: rotate(180deg) translate(-30px, -35px); } }
        #header .top-holder .pop-up .item-company .company-logo {
          display: inline-block;
          text-align: center;
          height: 60px;
          width: 185px; }
          @media (max-width: 768px) {
            #header .top-holder .pop-up .item-company .company-logo {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 31.76157%;
              width: 90px;
              height: 30px;
              background-size: cover; }
              #header .top-holder .pop-up .item-company .company-logo:last-child {
                margin-right: 0; } }
        #header .top-holder .pop-up .item-company .company-name {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          text-align: center;
          text-decoration: none;
          font-size: 12px;
          color: #3a4051;
          line-height: 14px;
          padding: 15px 0 0; }
          #header .top-holder .pop-up .item-company .company-name:last-child {
            margin-right: 0; }
          @media (max-width: 768px) {
            #header .top-holder .pop-up .item-company .company-name {
              float: left;
              display: block;
              margin-right: 2.35765%;
              width: 65.88078%;
              padding: 7px 0 0; }
              #header .top-holder .pop-up .item-company .company-name:last-child {
                margin-right: 0; } }
      #header .top-holder .pop-up .item1 {
        border-bottom-color: #ff7919; }
      #header .top-holder .pop-up .item2 {
        border-bottom-color: #9c9998; }
      #header .top-holder .pop-up .item3 {
        border-bottom-color: #3d813f; }
      #header .top-holder .pop-up .item4 {
        border-bottom-color: #2887bf; }
      #header .top-holder .pop-up .item5 {
        border-bottom-color: #b22e20; }
      #header .top-holder .pop-up .item6 {
        border-bottom-color: #004261; }
      #header .top-holder .pop-up .item7 {
        border-bottom-color: #00344a; }
      #header .top-holder .pop-up .item8 {
        border-bottom-color: #00344a; }
      #header .top-holder .pop-up .item9 {
        border-bottom-color: #3d813f; }
      #header .top-holder .pop-up .item10 {
        border-bottom-color: #2887bf; }
    #header .top-holder .show-pop-up {
      height: auto;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out; }
      #header .top-holder .show-pop-up .item-transition {
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        opacity: 1;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0); }
  #header .navigation {
    background-color: #ff7919;
    min-height: 52px;
    z-index: 999; }
    #header .navigation .navigation-wrapper {
      position: relative;
      z-index: 9999;
      padding-left: 30px;
      height: 52px; }
      #header .navigation .navigation-wrapper::after {
        clear: both;
        content: "";
        display: table; }
      @media (max-width: 768px) {
        #header .navigation .navigation-wrapper {
          padding-left: 20px; } }
    #header .navigation .navigation-menu-button {
      position: relative;
      display: none;
      float: left;
      line-height: 52px;
      margin: 0;
      text-decoration: none; }
      #header .navigation .navigation-menu-button path, #header .navigation .navigation-menu-button line, #header .navigation .navigation-menu-button rect, #header .navigation .navigation-menu-button polygon, #header .navigation .navigation-menu-button polyline, #header .navigation .navigation-menu-button circle, #header .navigation .navigation-menu-button g {
        stroke: white; }
      @media (max-width: 1200px) {
        #header .navigation .navigation-menu-button {
          display: block; } }
      #header .navigation .navigation-menu-button:focus path, #header .navigation .navigation-menu-button:focus line, #header .navigation .navigation-menu-button:focus rect, #header .navigation .navigation-menu-button:focus polygon, #header .navigation .navigation-menu-button:focus polyline, #header .navigation .navigation-menu-button:focus circle, #header .navigation .navigation-menu-button:focus g, #header .navigation .navigation-menu-button:hover path, #header .navigation .navigation-menu-button:hover line, #header .navigation .navigation-menu-button:hover rect, #header .navigation .navigation-menu-button:hover polygon, #header .navigation .navigation-menu-button:hover polyline, #header .navigation .navigation-menu-button:hover circle, #header .navigation .navigation-menu-button:hover g {
        stroke: rgba(255, 255, 255, 0.7); }
      #header .navigation .navigation-menu-button #menu-open-btn {
        display: block;
        margin-top: 10px; }
        #header .navigation .navigation-menu-button #menu-open-btn:hover path, #header .navigation .navigation-menu-button #menu-open-btn:hover line, #header .navigation .navigation-menu-button #menu-open-btn:hover rect, #header .navigation .navigation-menu-button #menu-open-btn:hover polygon, #header .navigation .navigation-menu-button #menu-open-btn:hover polyline, #header .navigation .navigation-menu-button #menu-open-btn:hover circle, #header .navigation .navigation-menu-button #menu-open-btn:hover g {
          stroke: rgba(255, 255, 255, 0.7); }
      #header .navigation .navigation-menu-button #menu-close-btn {
        position: absolute;
        top: 18px;
        left: 6px;
        display: none; }
        #header .navigation .navigation-menu-button #menu-close-btn path, #header .navigation .navigation-menu-button #menu-close-btn line, #header .navigation .navigation-menu-button #menu-close-btn rect, #header .navigation .navigation-menu-button #menu-close-btn polygon, #header .navigation .navigation-menu-button #menu-close-btn polyline, #header .navigation .navigation-menu-button #menu-close-btn circle, #header .navigation .navigation-menu-button #menu-close-btn g {
          fill: rgba(255, 255, 255, 0.7); }
    #header .navigation .active #menu-open-btn {
      display: none; }
    #header .navigation .active #menu-close-btn {
      display: block; }
    #header .navigation nav {
      z-index: 999;
      float: left; }
      @media (max-width: 1200px) {
        #header .navigation nav {
          float: none; } }
    #header .navigation ul.navigation-menu {
      clear: both;
      margin: 0 auto;
      overflow: visible;
      padding: 0;
      width: 100%;
      z-index: 999; }
      #header .navigation ul.navigation-menu.show {
        display: block; }
      @media (max-width: 1200px) {
        #header .navigation ul.navigation-menu {
          display: none;
          background: #ff7919;
          width: 230px;
          position: absolute;
          left: 0;
          height: 80vh; } }
      @media (max-width: 480px) {
        #header .navigation ul.navigation-menu {
          width: 100%; } }
    #header .navigation ul li.nav-link {
      background: #ff7919;
      line-height: 47px;
      text-align: left;
      width: 100%;
      z-index: 999;
      background: transparent;
      display: inline;
      text-decoration: none; }
      @media (max-width: 1200px) {
        #header .navigation ul li.nav-link {
          display: block;
          padding: 0 0 0 30px; }
          #header .navigation ul li.nav-link:hover {
            background: #fff; }
            #header .navigation ul li.nav-link:hover > a {
              background: #fff;
              color: #ff7919; } }
      #header .navigation ul li.nav-link > a {
        padding: 0 15px;
        box-sizing: border-box;
        color: white;
        display: inline-block;
        text-decoration: none;
        border-top: 5px solid #fff;
        border-color: transparent; }
        @media (max-width: 1200px) {
          #header .navigation ul li.nav-link > a {
            border: none; } }
        #header .navigation ul li.nav-link > a:focus, #header .navigation ul li.nav-link > a:hover {
          border-color: #fff;
          -webkit-transition: border-color 0.5s ease-in-out;
          -moz-transition: border-color 0.5s ease-in-out;
          transition: border-color 0.5s ease-in-out; }
    #header .navigation ul li.nav-link {
      position: relative; }
      @media (max-width: 1200px) {
        #header .navigation ul li.nav-link {
          position: static; } }
      #header .navigation ul li.nav-link:focus > .submenu,
      #header .navigation ul li.nav-link:hover > .submenu {
        display: block; }
      #header .navigation ul li.nav-link > .more-icon {
        float: right;
        margin-right: 20px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        display: none; }
        #header .navigation ul li.nav-link > .more-icon::after {
          clear: both;
          content: "";
          display: table; }
        #header .navigation ul li.nav-link > .more-icon path, #header .navigation ul li.nav-link > .more-icon line, #header .navigation ul li.nav-link > .more-icon rect, #header .navigation ul li.nav-link > .more-icon polygon, #header .navigation ul li.nav-link > .more-icon polyline, #header .navigation ul li.nav-link > .more-icon circle, #header .navigation ul li.nav-link > .more-icon g {
          stroke: white; }
        @media (max-width: 1200px) {
          #header .navigation ul li.nav-link > .more-icon {
            display: block; } }
      #header .navigation ul li.nav-link:hover > .more-icon {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg); }
        #header .navigation ul li.nav-link:hover > .more-icon path, #header .navigation ul li.nav-link:hover > .more-icon line, #header .navigation ul li.nav-link:hover > .more-icon rect, #header .navigation ul li.nav-link:hover > .more-icon polygon, #header .navigation ul li.nav-link:hover > .more-icon polyline, #header .navigation ul li.nav-link:hover > .more-icon circle, #header .navigation ul li.nav-link:hover > .more-icon g {
          stroke: #ff7919; }
      @media (max-width: 480px) {
        #header .navigation ul li.nav-link .transition.submenu {
          display: block;
          -webkit-transform: translate(0, 0);
          -moz-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          -o-transform: translate(0, 0);
          transform: translate(0, 0); } }
      #header .navigation ul li.nav-link .submenu {
        position: absolute;
        width: 320px;
        background: #ff7919;
        display: none;
        left: -20px;
        top: 30px;
        height: 80vh; }
        @media (max-width: 1200px) {
          #header .navigation ul li.nav-link .submenu {
            left: 230px;
            top: 0;
            width: 230px;
            background: #ff8833; } }
        @media (max-width: 480px) {
          #header .navigation ul li.nav-link .submenu {
            left: 0;
            width: 100%;
            -webkit-transform: translate(-100%, 0);
            -moz-transform: translate(-100%, 0);
            -ms-transform: translate(-100%, 0);
            -o-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
            -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out; } }
        #header .navigation ul li.nav-link .submenu li {
          padding: 0 0 0 20px; }
          #header .navigation ul li.nav-link .submenu li .more-icon {
            float: right;
            margin-right: 20px;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s; }
            #header .navigation ul li.nav-link .submenu li .more-icon::after {
              clear: both;
              content: "";
              display: table; }
            #header .navigation ul li.nav-link .submenu li .more-icon path, #header .navigation ul li.nav-link .submenu li .more-icon line, #header .navigation ul li.nav-link .submenu li .more-icon rect, #header .navigation ul li.nav-link .submenu li .more-icon polygon, #header .navigation ul li.nav-link .submenu li .more-icon polyline, #header .navigation ul li.nav-link .submenu li .more-icon circle, #header .navigation ul li.nav-link .submenu li .more-icon g {
              stroke: #fff; }
            @media (max-width: 768px) {
              #header .navigation ul li.nav-link .submenu li .more-icon {
                display: none; } }
          #header .navigation ul li.nav-link .submenu li a {
            color: white; }
          #header .navigation ul li.nav-link .submenu li:hover {
            background: #fff; }
            #header .navigation ul li.nav-link .submenu li:hover > a {
              color: #ff7919; }
            #header .navigation ul li.nav-link .submenu li:hover .more-icon {
              -webkit-transition: all 0.5s;
              -moz-transition: all 0.5s;
              transition: all 0.5s; }
              #header .navigation ul li.nav-link .submenu li:hover .more-icon path, #header .navigation ul li.nav-link .submenu li:hover .more-icon line, #header .navigation ul li.nav-link .submenu li:hover .more-icon rect, #header .navigation ul li.nav-link .submenu li:hover .more-icon polygon, #header .navigation ul li.nav-link .submenu li:hover .more-icon polyline, #header .navigation ul li.nav-link .submenu li:hover .more-icon circle, #header .navigation ul li.nav-link .submenu li:hover .more-icon g {
                stroke: #ff7919; }
          #header .navigation ul li.nav-link .submenu li:focus > .submenu,
          #header .navigation ul li.nav-link .submenu li:hover > .submenu {
            display: block; }
            @media (max-width: 768px) {
              #header .navigation ul li.nav-link .submenu li:focus > .submenu,
              #header .navigation ul li.nav-link .submenu li:hover > .submenu {
                display: none; } }
        #header .navigation ul li.nav-link .submenu .submenu {
          background: #ff8833;
          position: absolute;
          left: 320px;
          height: 80vh;
          top: 0; }
          @media (max-width: 1200px) {
            #header .navigation ul li.nav-link .submenu .submenu {
              background: #ff7919;
              left: 230px; } }
          @media (max-width: 768px) {
            #header .navigation ul li.nav-link .submenu .submenu {
              display: none; } }
        #header .navigation ul li.nav-link .submenu .back {
          padding-left: 20px;
          color: #fff;
          cursor: pointer;
          display: none; }
          @media (max-width: 480px) {
            #header .navigation ul li.nav-link .submenu .back {
              display: block; } }
    #header .navigation .active-nav-item a {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      padding-bottom: 3px; }
    #header .navigation .navigation-tools {
      clear: both;
      display: block;
      height: 52px; }
      @media screen and (min-width: 1200px) {
        #header .navigation .navigation-tools {
          background: transparent;
          clear: none;
          float: right; } }
    #header .navigation .langs {
      float: right;
      line-height: 52px;
      border-left: 1px solid #f2a683;
      border-right: 1px solid #f2a683;
      padding: 0 9px; }
      #header .navigation .langs span {
        padding: 0 9px; }
        #header .navigation .langs span:last-child {
          padding-left: 0; }
        #header .navigation .langs span a {
          color: white; }
          #header .navigation .langs span a:focus, #header .navigation .langs span a:hover {
            color: rgba(255, 255, 255, 0.7); }
    #header .navigation .search-bar {
      float: right; }
      #header .navigation .search-bar .search-btn {
        cursor: pointer;
        width: 85px;
        display: block;
        text-align: center;
        height: 52px;
        padding-top: 12px;
        position: relative; }
        @media (max-width: 768px) {
          #header .navigation .search-bar .search-btn {
            width: 50px; } }
        #header .navigation .search-bar .search-btn #search-menu-icon path, #header .navigation .search-bar .search-btn #search-menu-icon line, #header .navigation .search-bar .search-btn #search-menu-icon rect, #header .navigation .search-bar .search-btn #search-menu-icon polygon, #header .navigation .search-bar .search-btn #search-menu-icon polyline, #header .navigation .search-bar .search-btn #search-menu-icon circle, #header .navigation .search-bar .search-btn #search-menu-icon g {
          stroke: #fff; }
        #header .navigation .search-bar .search-btn #search-close-btn {
          position: absolute;
          top: 16px;
          right: 50%;
          margin-right: -8px;
          opacity: 0; }
          #header .navigation .search-bar .search-btn #search-close-btn path, #header .navigation .search-bar .search-btn #search-close-btn line, #header .navigation .search-bar .search-btn #search-close-btn rect, #header .navigation .search-bar .search-btn #search-close-btn polygon, #header .navigation .search-bar .search-btn #search-close-btn polyline, #header .navigation .search-bar .search-btn #search-close-btn circle, #header .navigation .search-bar .search-btn #search-close-btn g {
            fill: #ff7919; }
      #header .navigation .search-bar form {
        position: absolute;
        display: none;
        width: 355px;
        right: 0;
        padding: 19px 20px 10px;
        background: #fff;
        border-bottom: 1px solid #ced0d9; }
        @media (max-width: 768px) {
          #header .navigation .search-bar form {
            width: 320px;
            padding: 19px 15px 10px; } }
        #header .navigation .search-bar form input.search {
          background: #fff;
          border: none;
          font-size: 14px;
          line-height: 16px;
          font-style: italic;
          margin: 0;
          padding: 0 10px 10px;
          border-bottom: 1px solid #5c6366;
          width: 230px;
          float: left; }
          #header .navigation .search-bar form input.search::after {
            clear: both;
            content: "";
            display: table; }
        #header .navigation .search-bar form button.submit {
          background: #fff;
          border: none;
          float: right; }
          @media (max-width: 768px) {
            #header .navigation .search-bar form button.submit {
              width: 30px; } }
          #header .navigation .search-bar form button.submit svg path, #header .navigation .search-bar form button.submit svg line, #header .navigation .search-bar form button.submit svg rect, #header .navigation .search-bar form button.submit svg polygon, #header .navigation .search-bar form button.submit svg polyline, #header .navigation .search-bar form button.submit svg circle, #header .navigation .search-bar form button.submit svg g {
            stroke: #ff7919; }
      @media screen and (min-width: 1200px) {
        #header .navigation .search-bar {
          display: inline-block;
          position: relative;
          width: 86px; }
          #header .navigation .search-bar input {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            display: block; } }
    #header .navigation .active .search-btn {
      background: #fff;
      cursor: pointer; }
      #header .navigation .active .search-btn #search-close-btn {
        opacity: 1; }
    #header .navigation .active form {
      display: block; }
    #header .navigation .tools-btn {
      display: none;
      width: 50px;
      height: 52px;
      float: right;
      border-left: 1px solid #f2a683;
      text-align: center;
      padding-top: 12px;
      cursor: pointer; }
      #header .navigation .tools-btn::after {
        clear: both;
        content: "";
        display: table; }
      #header .navigation .tools-btn path, #header .navigation .tools-btn line, #header .navigation .tools-btn rect, #header .navigation .tools-btn polygon, #header .navigation .tools-btn polyline, #header .navigation .tools-btn circle, #header .navigation .tools-btn g {
        stroke: #fff; }
      @media (max-width: 320px) {
        #header .navigation .tools-btn {
          display: block; } }
    #header .navigation .active {
      background: #fff; }
      #header .navigation .active path, #header .navigation .active line, #header .navigation .active rect, #header .navigation .active polygon, #header .navigation .active polyline, #header .navigation .active circle, #header .navigation .active g {
        stroke: #ff7919; }
  #header .owl-container {
    position: relative; }
    #header .owl-container .owl-carousel .owl-wrapper-outer .owl-wrapper .owl-item .item h4 {
      position: absolute;
      top: 70px;
      left: 140px;
      font-size: 72px;
      line-height: 90px;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      margin: 0; }
      @media (max-width: 768px) {
        #header .owl-container .owl-carousel .owl-wrapper-outer .owl-wrapper .owl-item .item h4 {
          font-size: 36px;
          line-height: 40px;
          top: 50px;
          left: 50px; } }
      @media (max-width: 320px) {
        #header .owl-container .owl-carousel .owl-wrapper-outer .owl-wrapper .owl-item .item h4 {
          font-size: 26px;
          line-height: 30px;
          top: 50px;
          left: 50px; } }
      #header .owl-container .owl-carousel .owl-wrapper-outer .owl-wrapper .owl-item .item h4:before {
        width: 110px;
        border-bottom: 2px solid #fff;
        display: block;
        content: '';
        position: relative;
        top: 43px;
        left: -140px; }
        @media (max-width: 768px) {
          #header .owl-container .owl-carousel .owl-wrapper-outer .owl-wrapper .owl-item .item h4:before {
            width: 30px;
            top: 21px;
            left: -50px; } }
        @media (max-width: 320px) {
          #header .owl-container .owl-carousel .owl-wrapper-outer .owl-wrapper .owl-item .item h4:before {
            top: 15px;
            width: 30px;
            left: -50px; } }
    #header .owl-container .buttons .scroll-btn {
      position: absolute;
      left: 50%;
      bottom: 100px;
      color: #fff;
      font-size: 30px;
      width: 50px;
      height: 50px;
      display: block;
      text-align: center;
      line-height: 50px;
      border: 1px solid #fff;
      border-radius: 50%;
      margin-left: -25px;
      cursor: pointer; }
      @media (max-width: 768px) {
        #header .owl-container .buttons .scroll-btn {
          bottom: 30px;
          right: 30px; } }
    #header .owl-container .buttons .nav-wr {
      position: absolute;
      right: 100px;
      bottom: 100px;
      color: #fff;
      font-size: 20px; }
      @media (max-width: 768px) {
        #header .owl-container .buttons .nav-wr {
          bottom: 30px;
          right: 30px; } }
      @media (max-width: 480px) {
        #header .owl-container .buttons .nav-wr {
          bottom: 125px;
          left: 50%;
          margin-left: -60px; } }
      #header .owl-container .buttons .nav-wr .counted {
        padding: 0 20px; }
      #header .owl-container .buttons .nav-wr .slide_prev {
        cursor: pointer; }
      #header .owl-container .buttons .nav-wr .slide_next {
        cursor: pointer; }

#main {
  padding-bottom: 50px; }
  #main::after {
    clear: both;
    content: "";
    display: table; }
  @media (max-width: 320px) {
    #main {
      padding-bottom: 70px; } }
  #main .news {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding-left: 30px; }
    #main .news:last-child {
      margin-right: 0; }
    @media (max-width: 992px) {
      #main .news {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        padding: 0 30px 0 0; }
        #main .news:last-child {
          margin-right: 0; } }
    @media (max-width: 320px) {
      #main .news {
        padding: 0 20px 0 0; } }
    #main .news .news-item {
      padding: 0 0 30px 40px; }
      #main .news .news-item::after {
        clear: both;
        content: "";
        display: table; }
      @media (max-width: 768px) {
        #main .news .news-item {
          padding: 0 0 30px 30px; } }
      @media (max-width: 320px) {
        #main .news .news-item {
          padding: 0 0 30px 20px; } }
      #main .news .news-item .news-img {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        height: 150px;
        content: "";
        margin-right: 0; }
        #main .news .news-item .news-img:last-child {
          margin-right: 0; }
        @media (max-width: 320px) {
          #main .news .news-item .news-img {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 100%;
            height: 250px;
            margin-bottom: 20px; }
            #main .news .news-item .news-img:last-child {
              margin-right: 0; } }
      #main .news .news-item .news-text {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        padding-left: 30px; }
        #main .news .news-item .news-text:last-child {
          margin-right: 0; }
        @media (max-width: 320px) {
          #main .news .news-item .news-text {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 100%;
            padding-left: 0; }
            #main .news .news-item .news-text:last-child {
              margin-right: 0; } }
        #main .news .news-item .news-text .news-date {
          margin-top: 20px;
          font-size: 12px;
          line-height: 14px; }
    #main .news .more-news {
      float: right;
      margin-right: 15px;
      color: #ff7919; }
      @media (max-width: 320px) {
        #main .news .more-news {
          margin-right: 0; } }
      #main .news .more-news::after {
        clear: both;
        content: "";
        display: table; }
      #main .news .more-news:hover {
        color: #006bb3; }
  #main .prodject {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0; }
    #main .prodject:last-child {
      margin-right: 0; }
    #main .prodject::after {
      clear: both;
      content: "";
      display: table; }
    @media (max-width: 992px) {
      #main .prodject {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        #main .prodject:last-child {
          margin-right: 0; } }
    @media (max-width: 768px) {
      #main .prodject {
        padding: 0 30px 0 0; } }
    @media (max-width: 320px) {
      #main .prodject {
        padding: 0 20px 0 0; } }
    #main .prodject .prodject-holder {
      padding-left: 40px; }
      @media (max-width: 768px) {
        #main .prodject .prodject-holder {
          padding-left: 30px; } }
      @media (max-width: 320px) {
        #main .prodject .prodject-holder {
          padding-left: 20px; } }
      #main .prodject .prodject-holder .prodject-item {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        height: 100px;
        content: "";
        margin-right: 0; }
        #main .prodject .prodject-holder .prodject-item::after {
          clear: both;
          content: "";
          display: table; }
        #main .prodject .prodject-holder .prodject-item:last-child {
          margin-right: 0; }
        @media (max-width: 768px) {
          #main .prodject .prodject-holder .prodject-item {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 48.82117%;
            margin-right: 0;
            height: 300px; }
            #main .prodject .prodject-holder .prodject-item::after {
              clear: both;
              content: "";
              display: table; }
            #main .prodject .prodject-holder .prodject-item:last-child {
              margin-right: 0; } }
        @media (max-width: 320px) {
          #main .prodject .prodject-holder .prodject-item {
            height: 100px; } }
      #main .prodject .prodject-holder .more-prodject {
        float: right;
        color: #ff7919;
        margin: 30px 30px 0 0; }
        #main .prodject .prodject-holder .more-prodject::after {
          clear: both;
          content: "";
          display: table; }
        @media (max-width: 768px) {
          #main .prodject .prodject-holder .more-prodject {
            margin: 30px 15px 0 0; } }
        #main .prodject .prodject-holder .more-prodject:hover {
          color: #006bb3; }
  #main .tool-bar {
    width: 321px;
    -webkit-transform: translate(235px, 0);
    -moz-transform: translate(235px, 0);
    -ms-transform: translate(235px, 0);
    -o-transform: translate(235px, 0);
    transform: translate(235px, 0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    position: fixed;
    right: 0;
    background: #fff;
    height: 100vh;
    border-left: 1px solid #ced0d9;
    text-align: left;
    z-index: 999; }
    @media (max-width: 768px) {
      #main .tool-bar {
        -webkit-transform: translate(270px, 0);
        -moz-transform: translate(270px, 0);
        -ms-transform: translate(270px, 0);
        -o-transform: translate(270px, 0);
        transform: translate(270px, 0); } }
    @media (max-width: 320px) {
      #main .tool-bar {
        width: 100%;
        -webkit-transform: translate(320px, 0);
        -moz-transform: translate(320px, 0);
        -ms-transform: translate(320px, 0);
        -o-transform: translate(320px, 0);
        transform: translate(320px, 0); } }
    #main .tool-bar .tools {
      padding: 15px 0 10px 0; }
      #main .tool-bar .tools .tools-title {
        font-size: 18px;
        line-height: 20px;
        font-weight: bold;
        color: #333;
        text-transform: uppercase;
        position: relative;
        bottom: 8px; }
      #main .tool-bar .tools .tools-icon {
        position: relative;
        margin: 0 28px; }
        @media (max-width: 768px) {
          #main .tool-bar .tools .tools-icon {
            margin: 0 10px; } }
      #main .tool-bar .tools:hover .tools-icon path, #main .tool-bar .tools:hover .tools-icon line, #main .tool-bar .tools:hover .tools-icon rect, #main .tool-bar .tools:hover .tools-icon polygon, #main .tool-bar .tools:hover .tools-icon polyline, #main .tool-bar .tools:hover .tools-icon circle, #main .tool-bar .tools:hover .tools-icon g, #main .tool-bar .tools.active .tools-icon path, #main .tool-bar .tools.active .tools-icon line, #main .tool-bar .tools.active .tools-icon rect, #main .tool-bar .tools.active .tools-icon polygon, #main .tool-bar .tools.active .tools-icon polyline, #main .tool-bar .tools.active .tools-icon circle, #main .tool-bar .tools.active .tools-icon g {
        stroke: #ff7919; }
      #main .tool-bar .tools:after {
        content: "";
        position: absolute;
        width: 50px;
        top: 55px;
        left: 17px;
        display: block;
        border-bottom: 1px dashed #333; }
        @media (max-width: 768px) {
          #main .tool-bar .tools:after {
            width: 35px;
            left: 7px; } }
    #main .tool-bar .tool-bar-item {
      width: 100%;
      height: 60px;
      display: block;
      padding: 15px 0 0 0; }
      #main .tool-bar .tool-bar-item svg {
        margin: 0 28px; }
        @media (max-width: 768px) {
          #main .tool-bar .tool-bar-item svg {
            margin: 0 10px; } }
      #main .tool-bar .tool-bar-item span {
        color: #3a4051;
        position: relative;
        bottom: 9px; }
      #main .tool-bar .tool-bar-item:hover {
        background: #ff7919; }
        #main .tool-bar .tool-bar-item:hover path, #main .tool-bar .tool-bar-item:hover line, #main .tool-bar .tool-bar-item:hover rect, #main .tool-bar .tool-bar-item:hover polygon, #main .tool-bar .tool-bar-item:hover polyline, #main .tool-bar .tool-bar-item:hover circle, #main .tool-bar .tool-bar-item:hover g {
          stroke: #fff; }
        #main .tool-bar .tool-bar-item:hover span {
          color: #fff; }
    #main .tool-bar .up-btn {
      display: block;
      width: 100%;
      text-align: left;
      padding: 15px 0 0 0;
      position: absolute;
      bottom: 0; }
      #main .tool-bar .up-btn svg {
        margin: 0 28px; }
        @media (max-width: 768px) {
          #main .tool-bar .up-btn svg {
            margin: 0 10px; } }
      #main .tool-bar .up-btn:before {
        content: "";
        position: absolute;
        width: 50px;
        top: 0;
        left: 17px;
        display: block;
        border-bottom: 1px dashed #333; }
        @media (max-width: 768px) {
          #main .tool-bar .up-btn:before {
            width: 35px;
            left: 7px; } }
  #main .translate {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }

#footer {
  border-top: 1px solid #ced0d9;
  color: #333; }
  #footer .contacts {
    padding-bottom: 30px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    #footer .contacts:last-child {
      margin-right: 0; }
    @media (max-width: 768px) {
      #footer .contacts {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        #footer .contacts:last-child {
          margin-right: 0; } }
    #footer .contacts .title {
      margin-top: 30px;
      margin-bottom: 0; }
    #footer .contacts .contact-holder {
      padding-left: 40px; }
      @media (max-width: 768px) {
        #footer .contacts .contact-holder {
          padding-left: 30px; } }
      @media (max-width: 320px) {
        #footer .contacts .contact-holder {
          padding-left: 20px; } }
      #footer .contacts .contact-holder div {
        padding: 20px 0 20px 50px;
        border-bottom: 1px solid #ced0d9; }
      #footer .contacts .contact-holder .phone {
        background: url(../img/icons/amtt_icons-13.svg) no-repeat 0 20px; }
      #footer .contacts .contact-holder .adress {
        background: url(../img/icons/amtt_icons-12.svg) no-repeat 0 20px; }
      #footer .contacts .contact-holder .email {
        padding: 20px  0 115px 50px;
        background: url(../img/icons/amtt_icons-07.svg) no-repeat 0 20px; }
    #footer .contacts .copyright-wr {
      padding: 20px 0 0 40px; }
      #footer .contacts .copyright-wr .copyright {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        #footer .contacts .copyright-wr .copyright:last-child {
          margin-right: 0; }
        @media (max-width: 768px) {
          #footer .contacts .copyright-wr .copyright {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 100%; }
            #footer .contacts .copyright-wr .copyright:last-child {
              margin-right: 0; } }
      #footer .contacts .copyright-wr .reclamare {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        padding-left: 60px;
        background: url(../img/rcl-logo.png) no-repeat; }
        #footer .contacts .copyright-wr .reclamare:last-child {
          margin-right: 0; }
        #footer .contacts .copyright-wr .reclamare:hover {
          background: url(../img/rcl-hover-logo.png) no-repeat; }
        @media (max-width: 768px) {
          #footer .contacts .copyright-wr .reclamare {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 100%; }
            #footer .contacts .copyright-wr .reclamare:last-child {
              margin-right: 0; } }
  #footer .map {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0;
    float: right; }
    #footer .map:last-child {
      margin-right: 0; }
    #footer .map iframe {
      width: 100%; }
    @media (max-width: 768px) {
      #footer .map {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        #footer .map:last-child {
          margin-right: 0; } }
