
//Lato-regular
@font-face {
  font-family: Lato-Regular;
  src: url('../fonts/Lato-Regular.woff'),
       url('../fonts/Lato-Regular.woff2');
};

//amtt-icons-font
@font-face {
  font-family: 'Amtt-icons';
  src: url('../fonts/amtt-icons.woff'),
  url('../fonts/amtt-icons-webfont.woff2');
}

@font-face {
  font-family: 'Font-icons';
  src: url('../fonts/fontawesome-webfont.woff');
}