// Border radius shorthand
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin svg-stroke($color:$base-color){
  path, line, rect, polygon, polyline,circle ,g {
    stroke: $color;
  }
};
@mixin svg-fill($color:$base-color){
  path, line, rect, polygon, polyline,circle ,g {
    fill: ($color);
  }
};