


//color
$base-background-color:#fff;
$base-color:#ff7919;
$white:#fff;
$grey:#ced0d9;
$submenu-background-color:#ff8833;
$border-bottom-color: $base-color #9c9998 #3d813f #2887bf #b22e20 #004261 #00344a #00344a #3d813f #2887bf;



//Text color
$base-text-color:#3a4051;
$text-color-black:#000;
$text-color-grey:#333;
$link-hover-color:#006bb3;

//Line height
$base-line-height:24px;

//font size
$base-font-size:16px;

//font family
$base-font-family: "Lato-Regular";
$icons-font-family: "Amtt-icons";


//Greed variables:
$lg:1200px;
$md:992px;
$sm:768px;
$hs:480px;
$xs:320px;