@import "./node_modules/node-bourbon/node_modules/bourbon/app/assets/stylesheets/bourbon.scss";
@import "./node_modules/node-neat/node_modules/bourbon-neat/app/assets/stylesheets/neat.scss";
@import "_normalize.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "_fonts.scss";








body {
  color: $base-text-color;
  background: $base-background-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  @include outer-container(100%);

}

ul,ol,p{
  margin: 0;
  padding: 0;
}
ul,ol{
  list-style:none;
}

a{
  text-decoration: none;
  outline: none;
}

.container{
  padding-right: 85px;
  @media (max-width: $sm) {
    padding-right: 50px;
  }
  @media (max-width: $xs){
    padding-right: 0;
  }
}

.link{
  color: $base-color;
  &:hover{
    color: $link-hover-color;
  }
}

.title{
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  margin: 50px 0 30px 40px;
  @media (max-width: $sm) {
    margin: 50px 0 30px 30px;
  }
  @media (max-width: $xs) {
    margin: 30px 0 30px 20px;
  }
  &:before {
    width: 25px;
    border-bottom: 2px solid $base-color;
    display: block;
    content: '';
    position: relative;
    top: 18px;
    left: -40px;
    @media (max-width: $sm) {
      width: 15px;
      top: 18px;
      left: -30px;
    }
    @media (max-width: $xs) {
      top: 18px;
      width: 10px;
      left: -20px;
    }
  }
}

  #header {
    height: 100vh;
    .top-holder {
      padding: 10px 0 10px 0;
      @include clearfix;
      .logo {
        @include span-columns(4);
        padding: 0 0 0 30px;
        @media screen and (max-width: $sm) {
          @include span-columns(6);
          padding: 0 0 0 20px;
        }
        @media screen and (max-width: $hs) {
          @include span-columns(4);
          @include omega();
          padding: 5px 0 0 20px;
        }
        a {
          display: block;
          width: 150px;
          height: 50px;
          @media screen and (max-width: $hs) {
            width: 90px;
            height: 30px;
            background-size: cover;
          }
        }
      }
      .company {
        @include span-columns(4);
        text-align: center;
        @include omega;
        @media screen and (max-width: $sm) {
          @include span-columns(6);
          @include omega();
        }
        @media screen and (max-width: $hs) {
          @include span-columns(8);
          @include omega;
          text-align: right;
          padding-right: 10px;
        }
        .dropdown-container {
          width: 245px;
          height: 50px;
          border: 1px solid $base-color;
          display: inline-block;
          border-radius: 5px;
          text-align: left;
          @media screen and (max-width: $sm) {
            width: 200px;
          }
          @media screen and (max-width: $hs) {
            width: 180px;
            height: 40px;
          }
          .dropdown-button {
            cursor: pointer;
            @media screen and (max-width: $hs) {
              width: 180px;
              height: 40px;
            }
            .grup-icon {
              width: 27px;
              height: 27px;
              margin: 0 0 0 20px;
              position: relative;
              top: 8px;
              path, line, rect, polygon, polyline,circle ,g{
                stroke: $base-color;
                fill:$base-color;
              }
              @media screen and (max-width: $sm) {
                margin: 0 0 0 10px;
              }
              @media screen and (max-width: $hs) {
                margin: 0 0 0 5px;
                width: 20px;
                height: 20px;
                top: 5px;
              }
            }
            .btn-text {
              color: $base-color;
              font-size: 18px;
              line-height: 50px;
              font-weight: bold;
              @media screen and (max-width: $sm) {
                font-size: 14px;
                line-height: 50px;
              }
              @media screen and (max-width: $hs) {
                font-size: 14px;
                line-height: 40px;
              }
            }
            .drop-icon {
              width: 27px;
              height: 27px;
              display: inline-block;
              position: relative;
              top: 8px;
              @include transform(rotate(-180deg));
              @include transition (all 0.5s ease-in-out);
              @media screen and (max-width: $hs) {
                width: 25px;
                height: 25px;
                top: 8px;
              }
              svg{
                width: 27px;
                height: 27px;
                @media screen and (max-width: $hs) {
                  width: 25px;
                  height: 25px;
                  top: 8px;
                }
                path, line, rect, polygon, polyline,circle ,g{
                  stroke: $base-color;
                }
              }
            }
            .rotate {
              @include transform(rotate(0deg) );
              @include transition (all 0.5s ease-in-out);
            }
          }
        }
      }
      .phone {
        @include span-columns(4 of 12);
        @include omega;
        @include clearfix;
        text-align: right;
        float: right;
        @media screen and (max-width: $sm) {
          @include span-columns(12 of 12);
        }
        .dropdown-container {
          position: relative;
          text-align: center;
          .dropdown-button {
            cursor: pointer;
            color: $text-color-black;
            font-size: $base-font-size;
            line-height: 27px;
            padding: 12px 45px 12px 0;
            position: relative;
            text-align: right;
            @media screen and (max-width: $lg) {
              padding: 0 45px 0 0;
            }
            @media screen and (max-width: $sm) {
              padding: 12px 7px 12px 0;
              text-align: left;
            }
            .phone-item {
              padding-left: 20px;
              @media screen and (max-width: $lg) {
                @include span-columns(4 of 4);

              }
              @media screen and (max-width: $sm) {
                @include reset-all;
                @include span-columns(2 of 4);
                @include omega();
              }
              .bold {
                font-size: 18px;
                font-weight: bold;
                @media screen and (max-width: $hs) {
                  font-size: 16px;
                }
              }
            }
            .phone-item:last-child {
              @media screen and (max-width: $hs) {
                padding-left: 10px;
              }
            }

          }
        }
        .dropdown-button:after {
          position: absolute;
          width: 14px;
          height: 8px;
          display: block;
          content: '';
          right: 20px;
          top: 22px;
          background: url(../img/icon-4.png) no-repeat;
        }
        .dropdown-menu {
          width: 100%;
          min-height: 100px;
          background: $base-background-color;
          border-bottom: 1px solid $grey;
          border-left: 1px solid $grey;
          @include transition (all 0.2s ease-in-out);
          cursor: pointer;
          display: none;
          position: absolute;
          top: 65px;
          z-index: 99999;
          padding: 4px 15px 25px 0;
          text-align: right;
          @media (max-width: $sm){
            top: 48px;
            padding-left: 20px;
          }
          p{
            font-size: 16px;
            line-height: 32px;
          }
          .link{
            margin-top: 15px;
            display: block;
          }
        }
        .show-menu {
          display: block;
        }
      }
      .pop-up {
        width:100%;
        background: $base-background-color;
        @include transition (all 0.8s ease-in-out);
        cursor: pointer;
        height: 0;
        position: absolute;
        text-align: left;
        top: 70px;
        z-index: 99999;
        margin: 0;
        padding: 0;
        @media (max-width: $sm) {
          top: 0;
        }
        .item-company{
          position: relative;
          width: 33.33%;
          float: left;
          @include clearfix;
          opacity: 0;
          text-align: center;
          @include transform( translate(-2000px,0));
          border-top: 1px solid $grey;
          border-right: 1px solid $grey;
          border-bottom: 12px solid $grey;
          @media (max-width: $sm) {
            width: 100%;
            border-bottom: 2px solid;

          }
          &:before{
            position: absolute;
            top: 40px;
            left: 40px;
            display: block;
            width: 25px;
            height: 25px;
            content: '';
            background: url(../img/icons/corner.svg) no-repeat;
            opacity: 0;
            @media (max-width: $sm) {
              width: 12px;
              height: 12px;
            }
          }
          &:after{
            position: absolute;
            top: 40px;
            right: 40px;
            display: block;
            width: 25px;
            height: 25px;
            content: '';
            background: url(../img/icons/corner.svg) no-repeat;
            opacity: 0;
            @include transform(rotate(90deg));
            @media (max-width: $sm) {
              width: 12px;
              height: 12px;
            }
          }
          a {
            padding: 50px 0 65px;
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            @media (max-width: $sm){
              padding: 18px 0 18px 20px;
              height: 55px;
            }
            &:before {
              position: absolute;
              bottom: 40px;
              left: 40px;
              display: block;
              width: 25px;
              height: 25px;
              content: '';
              background: url(../img/icons/corner.svg) no-repeat;
              opacity: 0;
              @include transform(rotate(270deg));
              @media (max-width: $sm) {
                width: 12px;
                height: 12px;
              }
            }
            &:after {
              position: absolute;
              bottom: 40px;
              right: 40px;
              display: block;
              width: 25px;
              height: 25px;
              content: '';
              background: url(../img/icons/corner.svg) no-repeat;
              opacity: 0;
              @include transform(rotate(180deg));
              @media (max-width: $sm) {
                width: 12px;
                height: 12px;
              }
            }
          }
          &:hover{
            &:before{
              @include transform( translate(-30px,-30px));
              opacity: 1;
              @include transition(all 0.5s ease-in-out);
              @media (max-width: $sm) {
                @include transform( translate(-35px,-35px));
              }
            }
            &:after{
              @include transform(rotate(90deg) translate(-30px,-30px));
              opacity: 1;
              @include transition(all 0.5s ease-in-out);
              @media (max-width: $sm) {
                @include transform(rotate(90deg) translate(-35px,-30px));
              }
            }
            a {
              &:before {
                @include transform(rotate(270deg) translate(-30px,-30px));
                opacity: 1;
                @include transition(all 0.5s ease-in-out);
                @media (max-width: $sm) {
                  @include transform(rotate(270deg) translate(-35px,-35px));
                }
              }
              &:after {
                @include transform(rotate(180deg) translate(-30px,-30px));
                opacity: 1;
                @include transition(all 0.5s ease-in-out);
                @media (max-width: $sm) {
                  @include transform(rotate(180deg) translate(-30px,-35px));
                }
              }
            }
          }
          .company-logo{
            display: inline-block;
            text-align: center;
            height: 60px;
            width: 185px;
            @media (max-width: $sm) {
             @include span-columns(4);
              width: 90px;
              height: 30px;
              background-size: cover;
            }
          }
          .company-name{
            @include span-columns(12);
            text-align: center;
            text-decoration: none;
            font-size: 12px;
            color: $base-text-color;
            line-height: 14px;
            padding: 15px 0 0;
            @media (max-width: $sm) {
              @include span-columns(8);
              padding: 7px 0 0;
            }
          }
        }
    //Item border-color
        @for $i from 1 through length($border-bottom-color) {
          .item#{$i} {
            border-bottom-color: nth($border-bottom-color, $i);
          }
        }
      }
    //End Item border-color
      .show-pop-up{
        height: auto;
        @include transition (all 1s ease-in-out);
        .item-company{

        }
        .item-transition{
          @include transition (all 0.5s ease-in-out);
          opacity: 1;
          @include transform( translate(0,0));
        }
      }
    }

    //Navigation
    .navigation {

      //@include clearfix;
      $base-border-color: gainsboro !default;
      $base-border-radius: 3px !default;
      $action-color: #477DCA !default;
      $dark-gray: #333 !default;
      $large-screen: em(860) !default;
      $navigation-padding: 1em;
      $navigation-background: $base-color;
      $navigation-color-hover: transparentize(white, 0.3);
      $navigation-color: white;
      $navigation-height: 52px;
      $navigation-nav-button-background: $action-color;
      $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
      $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
      $navigation-search-background: lighten($navigation-background, 5);
      $navigation-search-border: 1px solid darken($navigation-background, 5);
      $navigation-active-link-color: transparentize(white, 0.5);
      $navigation-submenu-padding: 1em;
      $navigation-submenu-width: 12em;
      $vertical-bar-mode: $lg;
      $horizontal-bar-mode: $lg;



      background-color: $navigation-background;
      min-height: $navigation-height;
      z-index: 999;


      .navigation-wrapper {
        @include clearfix;
        position: relative;
        z-index: 9999;
        padding-left: 30px;
        height: $navigation-height;
        @media (max-width: $sm) {
          padding-left: 20px;
        }
      }




      // Mobile btn view

      .navigation-menu-button {
        position: relative;
        display: none;
        float: left;
        line-height: $navigation-height;
        margin: 0;
        text-decoration: none;
        @include svg-stroke($navigation-color);
        @media (max-width: $vertical-bar-mode){
          display: block;
        }
        &:focus,
        &:hover {
          @include svg-stroke($navigation-color-hover);
        }
        #menu-open-btn{
          display: block;
          margin-top: 10px;
          &:hover{
            @include svg-stroke($navigation-color-hover);
          }
        }
        #menu-close-btn{
          position: absolute;
          top: 18px;
          left: 6px;
          display: none;
          @include svg-fill($navigation-color-hover);
        }
      }
      .active{
        #menu-open-btn{
          display: none;
        }
        #menu-close-btn{
          display: block;
        }
      }

      // Nav menu

      nav {
        z-index: 999;
        float: left;
        @media (max-width:$vertical-bar-mode) {
          float: none;
        }
      }

      ul.navigation-menu {
        clear: both;
        //display: block;
        margin: 0 auto;
        overflow: visible;
        padding: 0;
        width: 100%;
        z-index: 999;

        &.show {
          display: block;
        }

        @media (max-width:$vertical-bar-mode) {
          display:none;
          background: $base-color;
          width: 230px;
          position: absolute;
          left: 0;
          height: 80vh;
        }
        @media (max-width: $hs) {
          width: 100%;
        }
      }

      // The nav items

      ul li.nav-link {
        background: $navigation-background;
        line-height: $navigation-height - 5px;
        text-align: left;
        width: 100%;
        z-index: 999;
        background: transparent;
        display: inline;
        text-decoration: none;



        @media (max-width:$vertical-bar-mode) {
          display: block;
          padding: 0 0 0 30px;

          &:hover{
            background: $base-background-color;
            >a{
              background: $base-background-color;
              color: $base-color;
            }
          }

        }

        >a {
          padding: 0 15px;
          box-sizing: border-box;
          color: $navigation-color;
          display: inline-block;
          text-decoration: none;
          border-top:5px solid $base-background-color;
          border-color:transparent;
          @media (max-width: $vertical-bar-mode) {
            border: none;

          }


          &:focus,
          &:hover {
            border-color:$base-background-color;
            @include transition(border-color .5s ease-in-out);
            @media (max-width: $vertical-bar-mode) {


            }
          }
        }
      }


      //Sub menu

      ul li.nav-link{
        position: relative;
        @media (max-width: $vertical-bar-mode){
          position: static;
        }
        &:focus > .submenu,
        &:hover > .submenu {
          display: block;
        }

        > .more-icon{
          float: right;
          margin-right: 20px;
          @include clearfix;
          @include transform(rotate(90deg));
          display: none;
          @include svg-stroke($navigation-color);
          @media (max-width: $vertical-bar-mode){
            display: block;
          }
        }
        &:hover > .more-icon{
          @include svg-stroke($base-color);
          @include transform(rotate(-90deg));
        }


        @media (max-width: $hs){
          .transition.submenu {
            display: block;
            @include transform(translate(0,0));
          }
        }
        .submenu {
          position: absolute;
          width: 320px;
          background: $base-color;
          display: none;
          left: -20px;
          top: 30px;
          height: 80vh;
          @media (max-width: $vertical-bar-mode) {
            left: 230px;
            top: 0;
            width: 230px;
            background: $submenu-background-color;
          }
          @media (max-width: $hs) {
            left: 0;
            width: 100%;
            @include transform(translate(-100%,0));
            @include transition(all 1s ease-in-out);
          }
          li{
            padding: 0 0 0 20px;
            .more-icon {
              float: right;
              margin-right: 20px;
              @include clearfix;
              @include transform(rotate(90deg));
              @include transition(all 0.5s);
              @include svg-stroke($white);
              @media (max-width: $sm){
                display: none;
              }
            }
            a{
              color: $navigation-color;
            }
            &:hover{
              background: $base-background-color;
              >a{
                color: $base-color;
              }
              .more-icon{
                @include svg-stroke($base-color);
                @include transition(all 0.5s);
              }
            }
            &:focus > .submenu,
            &:hover > .submenu {
              display: block;
              @media (max-width: $sm) {
                display: none;
              }
            }
          }

          .submenu{
            background: $submenu-background-color;
            position: absolute;
            left: 320px;
            height: 80vh;
            top: 0;
            @media (max-width: $vertical-bar-mode){
              background: $base-color;
              left: 230px;
            }
            @media (max-width: $sm) {
              display: none;
            }
          }
          .back{
            padding-left: 20px;
            color:$white;
            cursor: pointer;
            display: none;
            @media (max-width: $hs){
              display: block;
            }
          }
        }
      }


      .active-nav-item a {
        border-bottom: 1px solid $navigation-active-link-color;
        padding-bottom: 3px;
      }



      // Elements on the far right

      .navigation-tools {
        clear: both;
        display: block;
        height: $navigation-height;

        @include media($horizontal-bar-mode) {
          background: transparent;
          clear: none;
          float: right;
        }
      }

      //Langs
      .langs{
        float: right;
        line-height: $navigation-height;
        border-left: 1px solid #f2a683;
        border-right: 1px solid #f2a683;
        padding: 0 9px;
        span{
          padding: 0 9px;
          &:last-child{
            padding-left: 0;
          }
          a{
            color: $navigation-color;
            &:focus,
            &:hover {
              color: $navigation-color-hover;
            }
          }
        }
      }

      // Search bar





      .search-bar {
        $search-bar-border-color: $base-border-color;
        $search-bar-border: 1px solid $search-bar-border-color;
        $search-bar-background: lighten($search-bar-border-color, 10%);

        float: right;


        .search-btn{
          cursor: pointer;
          width: 85px;
          display: block;
          text-align: center;
          height: $navigation-height;
          padding-top: 12px;
          position: relative;
          @media(max-width: $sm){
            width: 50px;
          }
          #search-menu-icon{
            path, line, rect, polygon, polyline,circle ,g {
              stroke: $white;
            }
          }
          #search-close-btn {
            position: absolute;
            top: 16px;
            right: 50%;
            margin-right: -8px;
            opacity: 0;
            path, line, rect, polygon, polyline, circle, g {
              fill: $base-color;

            }
          }
        }

        form {
          position: absolute;
          display: none;
          width: 355px;
          right: 0;
          padding: 19px 20px 10px;
          background: $base-background-color;
          border-bottom: 1px solid $grey;
          @media (max-width: $sm){
            width: 320px;
            padding: 19px 15px 10px;
          }

          input.search {
            background: $base-background-color;
            border: none;
            font-size: 14px;
            line-height: 16px;
            font-style: italic;
            margin: 0;
            padding: 0 10px 10px;
            border-bottom: 1px solid #5c6366;
            width: 230px;
            float: left;
            @include clearfix;
          }

          button.submit {
            background: $base-background-color;
            border: none;
            float: right;
            @media (max-width: $sm) {
              width: 30px;
            }
            svg{
              path, line, rect, polygon, polyline, circle, g {
                stroke: $base-color;

              }
            }

          }
        }

        @include media($horizontal-bar-mode) {
          display: inline-block;
          position: relative;
          width: 86px;

          input {
            @include box-sizing(border-box);
            display: block;
          }
        }
      }
      .active{
        .search-btn{

          background: $base-background-color;
          cursor: pointer;
          #search-close-btn {
              opacity: 1;

          }
        }
        form{
          display: block;
        }
      }

      //Tools-btn
      .tools-btn{
        display: none;
        width: 50px;
        height: $navigation-height;
        @include clearfix;
        float: right;
        border-left: 1px solid #f2a683;
        text-align: center;
        padding-top: 12px;
        cursor: pointer;
        path, line, rect, polygon, polyline,circle ,g {
          stroke: $white;
        }
        @media (max-width:$xs) {
          display: block;
        }
      }
      .active{
        background: $base-background-color;
        path, line, rect, polygon, polyline,circle ,g {
          stroke: $base-color;
        }
      }

    }
    .owl-container{
      position: relative;
      .owl-carousel{
        .owl-wrapper-outer{
          .owl-wrapper{
            .owl-item{
              .item{
                h4{
                  position: absolute;
                  top: 70px;
                  left: 140px;
                  font-size: 72px;
                  line-height: 90px;
                  text-transform: uppercase;
                  font-weight: bold;
                  color: $white;
                  margin: 0;
                  @media (max-width: $sm) {
                    font-size: 36px;
                    line-height: 40px;
                    top: 50px;
                    left: 50px;
                  }
                  @media (max-width: $xs) {
                    font-size: 26px;
                    line-height: 30px;
                    top: 50px;
                    left: 50px;
                  }
                  &:before{
                    width: 110px;
                    border-bottom: 2px solid $white;
                    display: block;
                    content: '';
                    position: relative;
                    top: 43px;
                    left: -140px;
                    @media (max-width: $sm) {
                      width: 30px;
                      top: 21px;
                      left: -50px;
                    }
                    @media (max-width: $xs) {
                      top:15px;
                      width: 30px;
                      left: -50px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .buttons {
        .scroll-btn{
          position: absolute;
          left: 50%;
          bottom: 100px;
          color: $white;
          font-size: 30px;
          width: 50px;
          height: 50px;
          display: block;
          text-align: center;
          line-height: 50px;
          border: 1px solid $white;
          border-radius: 50%;
          margin-left: -25px;
          cursor: pointer;
          @media (max-width: $sm) {
            bottom: 30px;
            right: 30px;
          }
        }
        .nav-wr {
          position: absolute;
          right: 100px;
          bottom: 100px;
          color: $white;
          font-size: 20px;
          @media (max-width: $sm) {
            bottom: 30px;
            right: 30px;
          }
          @media (max-width: $hs) {
            bottom: 125px;
            left: 50%;
            margin-left: -60px;
          }
          .counted {
            padding: 0 20px;
          }
          .slide_prev{
            cursor: pointer;
          }
          .slide_next{
            cursor: pointer;
          }
        }
      }
    }
  }

  // MAIN //
  #main{
    @include clearfix;
    padding-bottom: 50px;
    @media (max-width: $xs) {
      padding-bottom: 70px;
    }
    .news{
      @include span-columns(6);
      padding-left: 30px;
      @media (max-width: $md) {
        @include span-columns(12);
        padding: 0 30px 0 0;
      }
      @media (max-width: $xs) {
        padding: 0 20px 0 0;
      }
      .news-item{
        @include clearfix;
        padding: 0 0 30px 40px;
        @media (max-width: $sm) {
          padding: 0 0 30px 30px;
        }
        @media (max-width: $xs) {
          padding: 0 0 30px 20px;
        }
        .news-img{
          @include span-columns(4);
          height: 150px;
          content: "";
          @include omega();
          @media (max-width: $xs) {
            @include span-columns(12);
            height: 250px;
            margin-bottom: 20px;
          }
        }
        .news-text{
          @include span-columns(8);
          padding-left: 30px;
          @media (max-width: $xs) {
            @include span-columns(12);
            padding-left: 0;
          }
          .news-date{
            margin-top: 20px;
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
      .more-news{
        float: right;
        margin-right: 15px;
        @media (max-width: $xs) {
          margin-right: 0;
        }
        @include clearfix;
        color: $base-color;
        &:hover{
          color: $link-hover-color;
        }
      }
    }
    .prodject{
      @include span-columns(6);
      @include omega;
      @include clearfix;
      @media (max-width: $md) {
        @include span-columns(12);

      }
      @media (max-width: $sm) {
        padding: 0 30px 0 0;
      }
      @media (max-width: $xs) {
        padding: 0 20px 0 0;
      }
      .prodject-holder {
        padding-left:40px;
        @media (max-width: $sm) {
          padding-left: 30px;
        }
        @media (max-width: $xs) {
          padding-left: 20px;
        }
        .prodject-item {
          @include clearfix;
          @include span-columns(3);
          height: 100px;
          content: "";
          @include omega;
          @media (max-width: $sm) {
            @include clearfix;
            @include span-columns(6);
            @include omega;
            height: 300px;
          }
          @media (max-width: $xs) {
            height: 100px;
          }
        }
        .more-prodject {
          float: right;
          @include clearfix;
          color: $base-color;
          margin: 30px 30px 0 0;
          @media (max-width: $sm) {
            margin: 30px 15px 0 0;
          }
          &:hover {
            color: $link-hover-color;
          }
        }
      }
    }
    .tool-bar{
      width: 321px;
      @include transform(translate(235px,0));
      @include transition(all 0.5s);
      position: fixed;
      right: 0;
      background: $base-background-color;
      height: 100vh;
      border-left: 1px solid $grey;
      text-align: left;
      z-index: 999;
      //&:hover{
      //  @include transform(translate(230px,0));
      //}
      @media (max-width: $sm){
        @include transform(translate(270px,0));
        //&:hover{
        //  @include transform(translate(265px,0));
        //}
      }
      @media (max-width: $xs){
        width: 100%;
        @include transform(translate(320px,0));
      }
      .tools{
        padding: 15px 0 10px 0;
        .tools-title{
          font-size: 18px;
          line-height: 20px;
          font-weight: bold;
          color: $text-color-grey;
          text-transform: uppercase;
          position: relative;
          bottom: 8px;
        }
        .tools-icon{
          position: relative;
          margin: 0 28px;
          @media (max-width: $sm) {
            margin: 0 10px;
          }
        }
        &:hover,
        &.active{
          .tools-icon{
           @include svg-stroke($base-color);
          }
        }
        &:after{
          content: "";
          position: absolute;
          width: 50px;
          top: 55px;
          left: 17px;
          display: block;
          border-bottom: 1px dashed $text-color-grey;
          @media (max-width: $sm){
            width: 35px;
            left: 7px;
          }
        }
      }
      .tool-bar-item {
        width: 100%;
        height: 60px;
        display: block;
        padding: 15px 0 0 0;
        svg{
          margin: 0 28px;
          @media (max-width: $sm) {
            margin: 0 10px;
          }
        }
        span{
          color: $base-text-color;
          position: relative;
          bottom: 9px;
        }
        @media (max-width: $sm) {
        }
        @media (max-width: $sm) {

        }
        &:hover{
          background: $base-color;
          path, line, rect, polygon, polyline,circle ,g{
            stroke: $white;
          }
          span{
            color: $white;
          }
        }
      }
      .up-btn{
        display: block;
        width: 100%;
        text-align: left;
        padding: 15px 0 0 0;
        position: absolute;
        bottom: 0;
        svg{
          margin: 0 28px;
          @media (max-width: $sm) {
            margin: 0 10px;
          }
        }
        &:before{
          content: "";
          position: absolute;
          width: 50px;
          top: 0;
          left: 17px;
          display: block;
          border-bottom: 1px dashed $text-color-grey;
          @media (max-width: $sm){
            width: 35px;
            left: 7px;
          }
        }
      }
    }
    .translate{
      @include transform(translate(0,0));
    }
    //.fixed{
    //  top:0;
    //}
  }
  #footer{
    border-top: 1px solid $grey;
    color:$text-color-grey;
    .contacts{
      padding-bottom: 30px;
      @include span-columns(6);
      @media (max-width: $sm) {
        @include span-columns(12);
      }
      .title{
        margin-top: 30px;
        margin-bottom: 0;
      }
     .contact-holder{
       padding-left: 40px;
       @media (max-width: $sm) {
         padding-left: 30px;
       }
       @media (max-width: $xs) {
         padding-left: 20px;
       }
       div{
         padding: 20px 0 20px 50px;
         border-bottom: 1px solid $grey;
       }
       .phone{
         background: url(../img/icons/amtt_icons-13.svg) no-repeat 0 20px;
       }
       .adress{
         background: url(../img/icons/amtt_icons-12.svg) no-repeat 0 20px;
       }
       .email{
         padding: 20px  0 115px 50px;
         background: url(../img/icons/amtt_icons-07.svg) no-repeat 0 20px;
       }

     }
      .copyright-wr{
        padding:20px 0 0 40px;
        .copyright{
          @include span-columns(6);
          @media (max-width: $sm) {
            @include span-columns(12);
          }
        }
        .reclamare{
          @include span-columns(6);
          padding-left: 60px;
          background: url(../img/rcl-logo.png) no-repeat;
          &:hover{
          background: url(../img/rcl-hover-logo.png) no-repeat;
          }
          @media (max-width: $sm) {
            @include span-columns(12);
          }
        }

      }

    }
    .map{
      @include span-columns(6);
      @include omega;
      float: right;
      iframe{
        width: 100%;
      }
      @media (max-width: $sm) {
        @include span-columns(12);
      }
    }
  }




